<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASHISH/Desktop/institute selenium DDT/ActitimeProject">
        <classes>
            <class name="actitime.testScripts.CustomerCreation">
                <methods>
                    <include name="createCustomer"/>
                </methods>
            </class>
            <class name="actitime.testScripts.DropdownHandling">
                <methods>
                    <include name="dropdownHandling"/>
                </methods>
            </class>
            <class name="actitime.testScripts.TypeOfWorkAlert">
                <methods>
                    <include name="alertHandeling"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>